__pycache__

/env
/build
/gecko
/glean
/application-services
/gmscore
/wasi-sdk
/scripts/env_local.sh
.DS_Store
/patches/gecko-overlay/ironfox/prefs/000-phoenix.js
/patches/gecko-overlay/ironfox/prefs/001-phoenix-extended.js
/uniffi
/wip
